Source: ros-jazzy-picknik-twist-controller
Section: misc
Priority: optional
Maintainer: lovro <lovro.ivanov@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake-ros, ros-jazzy-controller-interface, ros-jazzy-example-interfaces, ros-jazzy-geometry-msgs, ros-jazzy-rclcpp, ros-jazzy-realtime-tools, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-picknik-twist-controller
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-controller-interface, ros-jazzy-example-interfaces, ros-jazzy-geometry-msgs, ros-jazzy-rclcpp, ros-jazzy-realtime-tools, ros-jazzy-ros-workspace
Description: Subscribes to twist msg and forwards to hardware
